.tab-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.tab-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  
}

.tab-item {
  
  margin-right: 20px;
  font-size: 50px;
  cursor: pointer;
}

.tab-item.active {
  border-bottom: 3px solid #333;
}

.tab-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  
}
